 <!-- Header & Navbar -->

        <nav class="container mx-auto px-6 py-6 flex justify-between items-center">
            <div class="flex items-center">
                <img src="https://raw.githubusercontent.com/mirzajebret/LBH-GardaNusa/refs/heads/main/img/LBH-Gardanusa.webp" alt="Logo Mila Kumari" class="md:h-12 md:w-12 h-8 w-8 mr-4">
                <a href="#home" class="text-xl md:text-2xl font-bold text-gardanusa-dark-red tracking-wider font-sans">
                LBH Gardanusa
            </a>
            </div>
            
            <div class="hidden md:flex items-center space-x-8">
                <a href="#home" class="text-gardanusa-black hover:text-gardanusa-dark-red transition duration-300">Home</a>
                <a href="/about.html" class="text-gardanusa-black hover:text-gardanusa-dark-red transition duration-300">About</a>
                <a href="#services" class="text-gardanusa-black hover:text-gardanusa-dark-red transition duration-300">Services</a>
                <a href="#team" class="text-gardanusa-black hover:text-gardanusa-dark-red transition duration-300">Team</a>
                <a href="#contact" class="text-gardanusa-black hover:text-gardanusa-dark-red transition duration-300">Contact</a>
            </div>
            <a href="#contact" class="hidden md:block bg-gardanusa-gold hover:bg-yellow-600 text-white font-medium py-2 px-6 rounded-full transition duration-300 shadow-lg">
                Konsultasi Gratis
            </a>
            <button id="mobile-menu-button" class="md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gardanusa-dark-red" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </nav>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="hidden md:hidden ">
            <a href="/#home" class="block text-center py-2 text-gardanusa-black hover:bg-gardanusa-dark-red hover:text-white transition duration-300">Home</a>
            <a href="/about.html" class="block text-center py-2 text-gardanusa-black hover:bg-gardanusa-dark-red hover:text-white transition duration-300">About</a>
            <a href="/#services" class="block text-center py-2 text-gardanusa-black hover:bg-gardanusa-dark-red hover:text-white transition duration-300">Services</a>
            <a href="/#team" class="block text-center py-2 text-gardanusa-black hover:bg-gardanusa-dark-red hover:text-white transition duration-300">Team</a>
            <a href="/#contact" class="block text-center py-2 text-gardanusa-black hover:bg-gardanusa-dark-red hover:text-white transition duration-300">Contact</a>
            <a href="/#contact" class="font-medium block text-center py-4 bg-gardanusa-gold text-white transition duration-300">Konsultasi Gratis</a>
        </div>
